npm-debug.log*
dist
coverage
logs
*.log
.env
.env.*
!.env.example
.git
.gitignore
.vscode
.idea
*.md
!README.md
node_modules
postman
docs
scripts
**/*.test.ts
**/*.spec.ts
**/*.postman_collection.json
docker-compose*.yml
